/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.settings
/.buildpath
/.project
.ptp-sync-folder
/.ptp-sync
/public/js/app.js.LICENSE.txt
/oauth.txt
/composer.lock
